body {
    font-family: sans-serif;
    max-width: 400px;
}

h1 {
    font-weight: normal;
}

.container {
    display: grid;
}

form label {
    margin-bottom: 6px;
    font-weight: bold;
}

form input {
    margin-bottom: 16px;
    border-width: 1px;
    border-radius: 7px;
    border-color: silver;
    justify-self: stretch;
    height: 28px;
}

button {
    color: white;
    font-weight: bold;
    background: linear-gradient(#EC5C32, #EA4C51);
    border-width: 0px;
    border-radius: 7px;
    height: 35px;
    width: 90px;
    justify-self: end;
}

.bolder {
    font-weight: bolder;
}